@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 300;
  src: local('Chivo Light'), local('Chivo-Light'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjDY_Z4sKg.ttf) format('truetype');
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v10/va9I4kzIxd1KFrBoQeY.ttf) format('truetype');
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local('Chivo Bold'), local('Chivo-Bold'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjTZPZ4sKg.ttf) format('truetype');
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: local('Chivo Black'), local('Chivo-Black'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjrZvZ4sKg.ttf) format('truetype');
}



a {
  color: #fff;
  text-decoration: none;
}

ul{
  padding-left: 0;
  margin-top:0;
  margin-bottom:10px;
}

li{
  padding-left:0px;
  list-style:none;
}

h4 {
  margin: 0;
}

.body {
  background-color: #000;
  color: #fff;
  line-height: 27px;
}

.image {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
    border-radius: 6px;
  }

.container {
  position: static;
  overflow: visible;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  min-height: 30px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: fixed;
  right: 50px;
}

.list-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.list-item-3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.nav_link {
  display: block;
  min-height: 30px;
  margin-left: 40px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Chivo, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.nav_link:hover {
  border-style: none none solid;
  border-width: 1px;
  border-bottom-color: #fff;
  text-decoration: none;
}

.nav_link:focus {
  text-decoration: none;
}

.intro {
  margin-top: 120px;
}

.medium {
  max-width: 600px;
  font-family: Chivo, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.title {
  min-width: 240px;
  border: 1px none #000;
  font-family: Chivo, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.description {
  font-family: Chivo, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  margin-bottom: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-color: hsla(0, 0%, 100%, .2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.table-title {
  list-style:none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-color: hsla(0, 0%, 100%, .2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.small-title {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px none #000;
  font-family: Chivo, sans-serif;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.button {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 6px 20px;
  float: none;
  clear: none;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .2);
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Chivo, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  display:inline-block;
  line-height:inherit;
  text-decoration:none;
  cursor:pointer;
}

.button:hover {
  border-color: hsla(0, 0%, 100%, .6);
  color: #fff;
}

.align-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.work {
  margin-top: 80px;
  margin-bottom: 60px;
}

.footer {
  margin-bottom: 100px;
  text-align: center;
}

.footer img {
  cursor: crosshair;
}

.text-span {
  font-size: 11px;
}

.text-span-2 {
  font-size: 11px;
}

.small {
  color: hsla(0, 0%, 100%, .7);
  font-size: 11px;
  margin-left: 10px;
}

.text-span-4 {
  font-size: 11px;
}

.text-span-5 {
  font-size: 11px;
}

.blank_link {
  display: none;
}

@media (max-width: 991px) {
  .navigation {
    max-width: 750px;
    padding-right: 20px;
    padding-left: 20px;
  }

}

@media (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }


  .title {
    min-width: 140px;
  }
}

@media (max-width: 479px) {
  .navigation {
    /* display: block; */
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .nav_link {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: 70px;
    clear: none;
  }

  .nav_link:hover {
    border-style: none;
  }

  .medium {
    text-align: left;
  }

  .description {
    display: none;
    overflow: visible;
  }
}
